# Eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
out/
*.ipr
*.iws
*.iml
.idea/

# Gradle
build/
.gradle/
gradle/wrapper/gradle-wrapper.properties

# Visual Studio Code
.vscode/

# Minecraft / Forge / NeoForge Run Directories
run/
runs/
run-data/
logs/
crash-reports/
debug.log
debug.log.gz
latest.log

# Data Generator Cache (Crucial to ignore)
src/generated/resources/.cache/

# Local Mods & APIs (Development environment only)
/extra-mods/
/extra-api/

# Files from Forge MDK (Legacy)
forge*changelog.txt

# Operating System Files
.DS_Store
Thumbs.db